@import url("fontawesome-all.min.css");

@import
	url("https://fonts.googleapis.com/css?family=Oleo+Script:400|Open+Sans:300,300italic,600,600italic,800")
	;

#header-wrapper {
	padding: 2em 0 3em 0;
}

@media ( min-width : 1200px) header#header {
	width
	
	
	
	
	:
	
	
	 
	
	
	1166px
	
	
	
	
	;
}

#logo {
	margin-bottom: 26px;
}

#nav ul li.current a {
	background: #444;
	color: #fff;
}

#nav {
	position: absolute;
	right: 0;
	top: 0;
	font-size: 0.9em;
}

#nav ul li {
	float: left;
	line-height: 4.5em;
	padding-left: 1.5em;
}

#nav ul {
	list-style: none;
	padding-left: 0;
	margin-top: 29px;
}

#nav ul li a, #nav ul li span {
	font-weight: 800;
	letter-spacing: 0.025em;
	text-decoration: none;
	border-radius: 6px;
	padding: 0.5em 1em 0.5em 1em;
	color: #444444;
}

#header {
	position: relative;
	margin-left: 4%;
	margin-right: 4%;
}

h1 a {
	color: #ffffff;
	text-decoration: none;
}

.btn1 {
	color: #fff;
	background-color: #9c9c9c;
}

#logo h1 {
	background: #0b487b;
	color: #ffffff;
	border-radius: 6px;
	font-family: 'Oleo Script', serif;
	font-weight: 400;
	padding: 0.2em 0.2em 0.25em 0.2em;
	font-size: 3.25em;
	height: 55px;
	width: 154px;
	display: inline-block;
	vertical-align: middle;
	text-decoration: none;
	text-align: center;
	letter-spacing: 0.05em;
	display: inline-block;
}

.logintop {
	text-align: center;
}

#inner {
	text-align: right;
}

div#banner_login {
	position: relative;
	padding: 1.5em;
	height: 584px;
	width: 360px;
	display: flex;
	margin: auto;
	border-radius: 33px;
	background: whitesmoke;
}

form#loginform {
	padding-left: 76px;
	padding-top: 142px;
}

#loginbtn {
	background: #0B487B;
	color: #FFFFFF;
	padding: 7.2px 14.4px;
	border-radius: 6px;
	position: absolute;
	left: 153px;
	bottom: 96px;
	width: 110px;
	text-align: center;
	right: 121px;
	height: 40px;
	font-size: 19px;
}

#banner {
	position: absoltue;
	padding-top: 33px;
	padding-left: 151px;
	height: 584px;
}

span {
	font-weight: 700;
	line-height: 4.5em;
	letter-spacing: 0.025em;
	vertical-align: middle;
	margin: 0 0 0 1.25em;
	position: absolute;
	bottom: 11px;
	font-size: 17px;
}

.row {
	padding-top: 60px;
	background: whitesmoke;
	border-radius: 6px;
	width: 1600px;
	height: 516px;
}

h2 {
	font-size: 3.5em;
	padding-left: 100px;
}

label {
	display: block;
	font-weight: 800;
	margin: 0 0 1em 0;
	font-size: 17px;
	color: #444;
	padding-left: 30px;
}

input#ad_pw {
	line-height: 3em;
	padding: 0 1em;
	-webkit-font-smoothing: none;
	display: block;
	width: 100%;
	border-radius: 8px;
	border: solid 1px #eee;
}

input#ad_id {
	line-height: 3em;
	padding: 0 1em;
	-webkit-font-smoothing: none;
	display: block;
	width: 100%;
	border-radius: 8px;
	border: solid 1px #eee;
}

button#carbtn {
	background: #0B487B;
	color: #FFFFFF;
	width: 439px;
	height: 108px;
	border-radius: 8px;
	font-size: 34px;
	position: absolute;
	right: 321px;
	bottom: 418px;
}

button#potholebtn {
	background: #0B487B;
	color: #FFFFFF;
	width: 439px;
	height: 108px;
	border-radius: 8px;
	font-size: 34px;
	position: absolute;
	right: 321px;
	bottom: 221px;
}

p {
	font-size: 30px;
	padding-left: 100px;
}