<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.tracer.mapper.AdminMapper">

    <select id="loginService" parameterType="kr.tracer.entity.Admin" resultType="kr.tracer.entity.Admin">
        select * from admin where ad_id=#{ad_id} and ad_pw=#{ad_pw}
    </select>

</mapper>